# requirements.txt com versões fixas

# Dependências do Flask
blinker==1.9.0
click==8.2.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==3.1.3

# Dependências do SQLAlchemy para o banco de dados
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
SQLAlchemy==2.0.43

# Outras dependências
typing_extensions==4.14.1

# Biblioteca para documentação de API (Swagger UI)
flasgger==0.9.7.1